swagger: '2.0'
info:
  title: Open Event API
  description: API to create an event management app
  version: 0.0.1
host: openevent.championswimmer.in
schemes:
  - http
  - https
basePath: /api/v1
produces:
  - application/json
paths:
  /events:
    get:
      responses:
        '200':
          schema:
            type: array
            items:
              $ref: '#/definitions/Event'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /events/{eventId}:
    get:
      parameters:
        - name: eventId
          in: path
          required: true
          type: integer
          format: int32
          description: Event id
      responses:
        '200':
          schema:
            $ref: '#/definitions/Event'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /events/{eventId}/sessions:
    get:
      summary: List of Sessions
      description: >
        Gets list of sessions
      tags:
        - Sessions
      parameters:
        - name: eventId
          in: path
          required: true
          type: integer
          format: int32
          description: Event id
      responses:
        '200':
          description: An array of sessions
          schema:
            type: array
            items:
              $ref: '#/definitions/Session'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /events/{eventId}/speakers:
    get:
      parameters:
        - name: eventId
          in: path
          required: true
          type: integer
          format: int32
          description: Event id
      responses:
        '200':
          description: An array of speakers
          schema:
            type: array
            items:
              $ref: '#/definitions/Speaker'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

  /estimates/time:
    get:
      summary: Time Estimates
      description: 'The Time Estimates endpoint returns ETAs for all products offered at a given location, with the responses expressed as integers in seconds. We recommend that this endpoint be called every minute to provide the most accurate, up-to-date ETAs.'
      parameters:
        - name: start_latitude
          in: query
          description: Latitude component of start location.
          required: true
          type: number
          format: double
        - name: start_longitude
          in: query
          description: Longitude component of start location.
          required: true
          type: number
          format: double
        - name: customer_uuid
          in: query
          type: string
          format: uuid
          description: Unique customer identifier to be used for experience customization.
        - name: product_id
          in: query
          type: string
          description: 'Unique identifier representing a specific product for a given latitude & longitude.'
      tags:
        - Estimates
      responses:
        '200':
          description: An array of products
          schema:
            type: array
            items:
              $ref: '#/definitions/Product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /me:
    get:
      summary: User Profile
      description: The User Profile endpoint returns information about the Uber user that has authorized with the application.
      tags:
        - User
      responses:
        '200':
          description: Profile information for a user
          schema:
            $ref: '#/definitions/Profile'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /history:
    get:
      summary: User Activity
      description: "The User Activity endpoint returns data about a user's lifetime activity with Uber. The response will include pickup locations and times, dropoff locations and times, the distance of past requests, and information about which products were requested.<br><br>The history array in the response will have a maximum length based on the limit parameter. The response value count may exceed limit, therefore subsequent API requests may be necessary."
      parameters:
        - name: offset
          in: query
          type: integer
          format: int32
          description: Offset the list of returned results by this amount. Default is zero.
        - name: limit
          in: query
          type: integer
          format: int32
          description: 'Number of items to retrieve. Default is 5, maximum is 100.'
      tags:
        - User
      responses:
        '200':
          description: History information for the given user
          schema:
            $ref: '#/definitions/Activities'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  Event:
    type: object
    properties:
      id:
        type: string
        description: Unique identifier of an event
      name:
        type: string
        description: Name of the event
      tagline:
        type: string
        description: Tagline of the event
      address:
        $ref: '#/definitions/Address'
  Address:
    type: object
    properties:
      street:
        type: string
      locality:
        type: string
      city:
        type: string
      country:
        type: string
  Session:
    type: object
    properties:
      id:
        type: integer
      title:
        type: string
      abstract:
        type: string
      description:
        type: string
      speakers:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
      tags:
        type: array
        items:
          type: string
  Speaker:
    type: object
    properties:
      id:
        type: integer
      name:
        type: string
      bio:
        type: string
      country:
        type: string
      profiles:
        type: array
        items:
          $ref: '#/definitions/Link'
  Link:
    type: object
    properties:
      url:
        type: string
        required: true
      name:
        type: string
        required: true
      alt:
        type: string
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
      fields:
        type: string
